<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/bulma@1.0.0/css/bulma.min.css">
  <style>
    .perso
    {
        max-height: 256px;
        display: block;
        margin-left: auto;
        margin-right: auto;

    }
  </style>
    <title>La foire de Ravsgalat</title>
</head>
<body>
    {{{body}}}
</body>
</html>