<div class="container my-6">
    <div class="block has-text-centered">
        <h1 class="title">LE DONJON DE NAHEULBEUK</h1>
        <h2 class="subtitle">La foire de Ravsgalat</h2>
    </div>
    <div class="block my-6">
        <div class="columns has-text-centered is-flex is-vcentered">
            <div class="column">
                <a href="/newgame" class="button">Nouvelle partie</a>
            </div>
            <div class="column">
                <a href="/" class="button">Continuer</a>
            </div>
        </div>
    </div>
</div>
