<div class="containeur my-6">
    <div class="block my-6">
        <h2 class="title has-text-centered">
            Choisissez votre personnage
        </h2>
    </div>
    <div class="block my-6">
        <div class="columns has-text-centered is-centered">
            <div class="column is-one-third">
                <form action="newgame" method="post">
                    <input type="text" value="Ranger" name="personnage">
                    <a href="newgame/Ranger"> 
                    <div class="card">
                      <div class="card-image">
                        <figure class="image is-4by5 perso">
                          <img
                            src="img/ranger.png"
                            alt="Placeholder image"
                          />
                        </figure>
                      </div>
                      <div class="card-content">
                        <div class="media">
                          <div class="media-content">
                            <p class="title is-4">Ranger</p>
                            <p class="subtitle is-6">Humain</p>
                          </div>
                        </div>
                        <div class="content">
                          Je suis un aventurier plutôt polyvalent... Habile à la fois au combat, à la dissimulation et au pistage, je suis également
                            capable de tirer à l'arc et de prodiguer des soins. C'est pour ça qu'en général, on me désigne comme chef de groupe. Je suis à
                            l'aise aussi bien en milieu naturel qu'en ville, mais j'ai une préférence pour les milieux forestiers dans lesquels je peux me
                            fondre avec l'agilité d'une fouine. En dehors de ça, j'ai beaucoup de succès avec le sexe opposé et je suis plutôt modeste.
                          <br />
                        </div>
                        </div>
                    </div>
                    </a>
            </div>
        </div>
    </div>
</div>
