<div class="container is-fluid">
    <div class="block my-6">
        <h1 class="title has-text-centered">1</h1>
    </div>
    <div class="block my-6">
        <p >
            C’est un midi comme un autre à Valtordu... <br>
            Vous avez traîné un peu dans la région en cherchant quelque chose à faire, et après
            vous être battu avec un cochon égaré vous avez décidé qu’il
            était sans doute plus intelligent d’aller dépenser vos maigres
            économies à la taverne, pour parler avec des gens. <br>Au moins,
            dans une taverne il n’y a pas d’animaux dangereux en liberté.
            Vous êtes à présent dans l’auberge des Trois boudins, face à la
            place des Pendus. <br> Vous venez de vous restaurer d’un plat de
            ragoût qui sentait fort bon, même si la viande qui le constituait
            est d’une provenance indéfinie. Une fois votre repas consommé,
            le patron de l’établissement vient s’enquérir de votre prochaine
            commande, mais lui-même n’a pas l’air dans son assiette. <br> Vous
            engagez la conversation, presque sans le faire exprès... <br>
            – Quelque chose ne va pas, mon brave ? <br>
            – Bah … Laissez tomber, on fait tous un peu la gueule à
            Valtordu. C’est comme ça depuis que la jeune Béatrice a
            disparu. <br>
            Vous toussotez : <br>
            – Ah, bigre... C’est une personnalité de la ville ? <br>
            – On peut pas dire ça, mais on l’aime bien. C’est une jeune fille
            sympa qui bosse chez moi le midi. Et ça va faire trois jours
            qu’on ne l’a pas vue ! Elle est assez populaire ici alors bon, c’est
            pas vraiment la fête. Tout fout l’camp, si vous voyez ce que je
            veux dire... <br>
            Vous apprenez également que Béatrice est la fille du patron du
            Donjon Facile, un magasin situé à l’autre bout du village. Les
            miliciens chargés de la sécurité de la ville, occupés à préparer la
            foire de Ravsgalat, n’ont pas réussi à enquêter efficacement sur
            cette disparition. Pour le moment, c’est donc un sujet sensible. <br>
            – Là c’que j’peux vous dire, termine l’aubergiste, c’est qu’le
            gars son paternel il est gravement dans la galère et qu’il a
            vraiment hâte de la r’trouver ! <br>
            Vous hochez la tête et vous lui répondez: <br>
        </p>
    </div>
    <div class="block">
        <div class="columns is-multiline is-centered">
            <div class="column is-narrow"><a href="52" class="button is-primary is-outlined">Bah ! Moi j’vais la retrouver, cette donzelle !<br>Je suis un
aventurier !</a></div>
            <div class="column is-narrow"><a href="30" class="button is-primary is-outlined">Halala...<br>Les jeunes de maintenant, j’vous jure...</a></div>
            <div class="column is-narrow"><a href="70" class="button is-primary is-outlined">Et sinon, je me demandais...<br>Vous avez quoi comme bière ?</a></div>
        </div>
    </div>
</div>